.footer_logo{
    width: 128px;
    background-image: url("../images/d’Perfumew.png");
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-position: center;
}