// https://raw.githubusercontent.com/umon752/week6/main/app/assets/images/d’Perfume.png
.logo{
    width: 128px;
    background-image: url("../images/d’Perfume@2x.png");
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-position: center;
}