<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <nav class="navbar navbar-light bg-white shadow-sm">
    <div class="container-lg">
      <h1 class="mb-0 pl-4 pl-lg-0">
        <a class="logo navbar-brand" href="index.html">
          d’Perfume
        </a>
      </h1>
      <ul class="d-flex ml-auto mb-0">  
        <li class="ml-5 d-none d-lg-block">
          <a href="product.html" class="text-gray h5 font-weight-normal d-flex">
            <span class="material-icons d-none d-lg-block mr-1">store</span>Product</a>
        </li>
        <li class="ml-5 d-none d-lg-block">
          <a href="#" class="text-gray h5 font-weight-normal d-flex">
            <span class="material-icons d-none d-lg-block mr-1">person</span>log in</a>
        </li>
        <li class="ml-5 d-none d-lg-block">
          <a href="#" class="text-gray h5 font-weight-normal d-flex">
            <span class="material-icons d-none d-lg-block mr-1">favorite</span>Wishlist</a>
        </li>
        <li class="ml-5 d-none d-lg-block">
          <a href="#" class="text-gray h5 font-weight-normal d-flex">
            <span class="material-icons d-none d-lg-block mr-1">shopping_cart</span>Cart(3)</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="bg-primary d-none d-lg-block">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">CHANEL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Jo
            Malone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Curology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Dior</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Chloe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">ZARA</a>
        </li>
      </ul>
    </div>
  </nav>

  <%- contents %>

  <footer>
    <nav class="bg-primary py-4">
      <div class="container d-flex align-items-center">
        <a href="index.html">d’Perfume</a>
        <p class="font-size-sm text-white mb-0">© 2020. All Rights Reserved.</p>
        
      </div>
    </nav>
  </footer>

  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
