.banner{
    height: 870px;
    max-width: 100%;
    background-image: url("../images/index1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card{
    width: 100%;
    @include img-cover(555px);
}