.banner{
    height: 870px;
    display: block;
    max-width: 100%;
    background-image: url("../images/index1.jpg");
    @media(max-width: 768px){
        height: 480px;

    }
    @include textCover;
}
.card{
    &_img {
        width: 100%;
        @include img-cover(555px);
    }
    &_list_img{
        width: 100%;
        height: 1080px;
    }
}

.bottle-recycle{
    width: 730px;
}

.subscription {
    @include bg-cover("../images/index10.jpg", 600px);
    padding-bottom: 112px;

    &_input {
        border: 2px solid $primary;
        flex-grow: 1;

        @include media-breakpoint-up(lg) {
            flex-grow: 0;
            width: 219px;
        }
    }
}