h2, h3 ,a:hover{
    text-decoration: none;
}
.products_item_img{
    background-image: url("./assets/images/products1.jpg");
    height: 255px;
    width: 255px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-title{
    font: normal normal 600 24px/36px SF Pro Text;
    color: #000000;
}
.card-subtitle{
    font: normal normal 300 16px/24px SF Pro Text;
    color: #000000;
}
